{% extends "app/layout.html" %}
{% block content %}
<h2>{{ title }}</h2>
<p>{{ message }}</p>
<div class="about-container">
    {% csrf_token %}
    <div class='table-title-container'>
        <h1>Printers List</h1>
        <div class="table-controls-container">
            <td><button value="Add" class="icon-button fa fa-solid fa-plus fa-3x" data-toggle="modal"
                    data-target=".add-modal" name="addRows"></button></td>
        </div>
    </div>
    {% if printers %}
    <div class='table-container'>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Location</th>
                    <th>IP Address</th>
                    <th>MAC Address</th>
                    <th>Manufacture Date</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through the printers and display each one -->
                {% for printer in printers %}
                <tr>
                    <form>
                    <td>{{ printer.id }}</td>
                    <td>{{ printer.brand }}</td>
                    <td>{{ printer.model }}</td>
                    <td>{{ printer.location }}</td>
                    <td>{{ printer.ip_address }}</td>
                    <td>{{ printer.mac_address }}</td>
                    <td>{{ printer.manufacture_date }}</td>
                    <td>{{ printer.comments }}</td>

                    <td>
                        <button value="Delete" class="icon-button fa fa-solid fa-trash fa-3x" data-toggle="modal"
                                data-target=".confirmation-modal" name="removeRows"></button>
                    </td>
                    <td>
                        <button value="Update" class="icon-button fa fa-solid fa-pencil fa-3x" name="editRows"
                                data-toggle="modal" data-target=".edit-modal-{{ printer.id }}"></button>
                    </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No printers found.</p>
        {% endif %}
    </div>
    {% for printer in printers %}
    <div class="modal edit-modal-{{ printer.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit rows</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'update_printers' printer.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="brand">Brand</label>
                            <input type="text" class="form-control" id="brand" name="brand"
                                placeholder="Brand" value="{{ printer.brand}}">
                            <label for="model">Model</label>
                            <input type="text" class="form-control" id="model" name="model"
                                placeholder="Model" value="{{ printer.model}}">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" name="location"
                                placeholder="Location" value="{{ printer.location}}">
                            <label for="ip_address">IP Address</label>
                            <input type="text" class="form-control" id="ip_address" name="ip_address"
                                placeholder="IP Address" value="{{ printer.ip_address}}">
                            <label for="mac_address">MAC Address</label>
                            <input type="text" class="form-control" id="mac_address" name="mac_address"
                                placeholder="MAC Address" value="{{ printer.mac_address}}">
                            <label for="manufacture_date">Manufacture Date</label>
                            <input type="text" class="form-control" id="manufacture_date"
                                name="manufacture_date" placeholder="Manufacture Date"
                                value="{{ printer.manufacture_date }}">
                            <label for="comments">Comments</label>
                            <input type="text" class="form-control" id="comments" name="comments"
                                placeholder="Comments" value="{{ printer.comments}}">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" name="editRows">Save
                                changes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="modal add-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add rows</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="brand">Brand</label>
                    <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" id="model" name="model" placeholder="Model">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name="location" placeholder="Location">
                    <label for="ip_address">IP Address</label>
                    <input type="text" class="form-control" id="ip_address" name="ip_address" placeholder="IP Address">
                    <label for="mac_address">MAC Address</label>
                    <input type="text" class="form-control" id="mac_address" name="mac_address"
                        placeholder="MAC Address">
                    <label for="manufacture_date">Manufacture Date</label>
                    <input type="text" class="form-control" id="manufacture_date" name="manufacture_date"
                        placeholder="Manufacture Date">
                    <label for="comments">Comments</label>
                    <input type="text" class="form-control" id="comments" name="comments" placeholder="Comments">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal confirmation-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Action Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you wish to proceed</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
{% endblock %}