{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">It's great to have you here</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Database Control</h2>
        <p>
            Hopefully I will implement a database of some sort at some point
        </p>
        <p><a class="btn btn-default" href="{% url 'contact' %}">Contact &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Assignment Brief</h2>
        <p>
            Access the Assignment Brief
        </p>
        <p><a class="btn btn-default" href="{% url 'brief' %}">Assignment Brief &raquo;</a></p>
    </div>
</div>

{% endblock %}
